{% extends "../view/dashboard/index.html" %}
{% block title %}Titulo - Editar Titulo{% end %}
{% block css_add %}
<style>
	.data-title {
		padding: 10px;
		border: 1px solid #ccc;
	}
</style>
{% end %}
{% block content %}
<section class="content">
  <div class="container-fluid">
  	<div class="col-md-12">
  		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Editar T&iacute;tulo</h3>
			</div>

			<form>
				<div class="card-body" id="form_data">
					<div class="form-group">
						<label for="title_name">Nome T&iacute;tulo</label>
						<input type="text" class="form-control" id="title-name" name="title-name" placeholder="Two and a Half Man">
					</div>
					<div class="form-group">
						<label>Tipo T&iacute;tulo</label>
						<select class="form-control" name="sel-type-title" id="sel-type-title">
						</select>
					</div>
					<div class="form-group">
							<label>T&iacute;tulo pertence</label>
							<select class="form-control" name="sel-title-belong" id="sel-title-belong" disabled="disabled">
							</select>
					</div>
					<div class="container-fluid title-data" style="display: block;">
						<div class="data-title" id="data-title-1">
						  <div class="row">
						  </div>
						  <div class="row" id="title_data_source">
						    
						  </div>
						  <div class="row" id="title_source_subtitle">
						    
						  </div>
						</div>
					</div>
				</div>

				<div class="card-footer">
					<button type="submit" class="btn btn-primary" name="btn-title-update" id="btn-title-update">Atualizar</button>
				</div>
			</form>
		</div>
	</div>
</div>
</section>
{% end %}
{% block nav_active %}
<script>
  open_nav_by_id('nav_title')
  active_nav_by_id('nav_title_list')
 </script>
{% end %}

{% block js_script %}
<script>
	var id = {{ id_from }};
	function get_title_types(){
		return $.getJSON("/api/dashboard/titulo/list-title-types", function(data){
			if(data.status === true){
				$('#sel-title-belong').attr('disabled', false);
				for(var index=0;index<data.data.length;index++){
					var item_raw = data.data[index];
					var belong = ` ${item_raw.title_belong_description}`
					$('#sel-type-title').append(`
						<option value="${item_raw.id}" data-key="${item_raw.key}">${item_raw.description}</option>
					`);
				}
			}else{
				return false;
			}
		});
	}
	function add_source(source, language, quality){
		$('#title_data_source').append(`
			    <div class="col-sm-3">
			      <label for="data-content">Data Source <a href='#' id="btn_add_data_source"> +</a></label>
					<input type="text" class="form-control data-source" id="data-content" name="data-content" placeholder="http://" value="${source}">
			    </div>
			    <div class="col-sm-3">
			      <label>Tipo Source</label>
			      <select class="form-control type-source" name="sel-type-source" id="sel-type-source">
			      	<option value="uptobox" selected="selected">Uptobox</option>
			      </select>
			    </div>
			    <div class="col-sm-3">
			    	<label for="data-content-language">Idioma</label>
			    	<input type="text" class="form-control data-source-language" id="data-content-language" name="data-content-language" placeholder="Ingl&ecirc;s" value="${language}">
			    </div>
			    <div class="col-sm-3">
			    	<label for="data-content-quality">Qualidade</label>
			    	<input type="text" class="form-control data-source-quality" id="data-content-quality" name="data-content-quality" placeholder="720p" value="${quality}">
			    </div>
		`);
	}
	var source_index = 0;
	function new_source(){
		$('#title_data_source').append(`
			    <div class="col-sm-2">
			      <label for="data-content">Data Source <a href='#' id="btn_add_data_source"> +</a></label>
					<input type="text" class="form-control data-source" id="data-content-${source_index}" name="data-content" placeholder="http://">
			    </div>
			    <div class="col-sm-2">
			      <label>Tipo Source</label>
			      <select class="form-control type-source" name="sel-type-source" id="sel-type-source-${source_index}">
			      	<option value="uptobox" selected="selected">Uptobox</option>
			      </select>
			    </div>
			    <div class="col-sm-2">
			    	<label for="data-content-language">Idioma</label>
			    	<input type="text" class="form-control data-source-language" id="data-content-language-${source_index}" name="data-content-language" placeholder="Ingl&ecirc;s">
			    </div>
			    <div class="col-sm-2">
			    	<label for="data-content-quality">Qualidade</label>
			    	<input type="text" class="form-control data-source-quality" id="data-content-quality-${source_index}" name="data-content-quality" placeholder="720p">
			    </div>
			    <div class="col-sm-2">
			    	<label>&nbsp;</label>
			    	<button type="button" class="btn btn-block btn-primary" id="btn_add_new_source" data-source="${source_index}">Adicionar</button>
			    </div>
			    <div class="col-sm-2">
			    	<label>&nbsp;</label>
			    	<button type="button" class="btn btn-block btn-danger">Cancelar</button>
			    </div>
		`);
		source_index += 1;
	}
	function add_subtitle(source, language){
		$('#title_source_subtitle').append(`
			<div class="col-sm-4">
			  <label for="data-content">Data Source Subtitle<a href='#' id="btn_add_source_subtitle"> +</a></label>
			  <input type="text" class="form-control data-source-subtitle" id="data-content-subitlte" name="data-content-subitlte" placeholder="http://" value="${source}">
			</div>
			<div class="col-sm-4">
			  <label>Tipo Source</label>
			  <select class="form-control type-source-subtitle" name="sel-type-source-subtitle" id="sel-type-source-subtitle">
			  	<option value="1" selected="selected">Uptobox</option>
			  </select>
			</div>
			<div class="col-sm-4">
				<label for="data-content-subtitle-language">Idioma</label>
				<input type="text" class="form-control data-source-subtitle-language" id="data-content-subtitle-language" name="data-content-subtitle-language" placeholder="Ingl&ecirc;s" value="${language}">
			</div>
		`);
	}
	var subtitle_index = 0;
	function new_subtitle(){
		$('#title_source_subtitle').append(`
			<div class="col-sm-3">
			  <label for="data-content">Data Source Subtitle<a href='#' id="btn_add_source_subtitle"> +</a></label>
			  <input type="text" class="form-control data-source-subtitle" id="data-content-subitlte-${subtitle_index}" name="data-content-subitlte" placeholder="http://">
			</div>
			<div class="col-sm-3">
			  <label>Tipo Source</label>
			  <select class="form-control type-source-subtitle" name="sel-type-source-subtitle" id="sel-type-source-subtitle-${subtitle_index}">
			  	<option value="1" selected="selected">Uptobox</option>
			  </select>
			</div>
			<div class="col-sm-3">
				<label for="data-content-subtitle-language">Idioma</label>
				<input type="text" class="form-control data-source-subtitle-language" id="data-content-subtitle-language-${subtitle_index}" name="data-content-subtitle-language" placeholder="Ingl&ecirc;s">
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-block btn-primary" id="btn_add_new_subtitle" data-subtitle="${subtitle_index}">Adicionar</button>
				<button type="button" class="btn btn-block btn-danger">Cancelar</button>
			</div>
		`);
		subtitle_index += 1;
	}
	$(document).on('click', '#btn_add_new_source', function(e){
		e.preventDefault();
		var index_source = $(this).attr('data-source');
		var data_content = $(`#data-content-${index_source}`).val();
		var type_source = $(`#sel-type-source-${index_source}`).val();
		var language = $(`#data-content-language-${index_source}`).val();
		var quality = $(`#data-content-quality-${index_source}`).val();
		$.post(`/api/add-video-data?id=${id}`, {
			'data-content': data_content,
			'type-source': type_source,
			'language': language,
			'quality': quality
		}, function(data){
			if(data.status === true){
				alert('adicionado');
			}else{
				alert('erro adicionar');
			}
		});
	});
	$(document).on('click', '#btn_add_new_subtitle', function(e){
		e.preventDefault();
		var index_subtitle = $(this).attr('data-subtitle');
		var data_content_subtitle = $(`#data-content-subitlte-${index_subtitle}`).val();
		var type_source_subtitle = $(`#sel-type-source-subtitle-${index_subtitle}`).val();
		var language_subtitle = $(`#data-content-subtitle-language-${index_subtitle}`).val();
		$.post(`/api/add-video-subtitle?id=${id}`, {
			'data-content': data_content_subtitle,
			'type-source': type_source_subtitle,
			'language': language_subtitle,
		}, function(data){
			if(data.status === true){
				alert('adicionado');
			}else{
				alert('erro adicionar');
			}
		});
		console.log(index_subtitle);
		console.log(data_content_subtitle);
		console.log(type_source_subtitle);
		console.log(language_subtitle);
	});
	$(document).on('click', '#btn_add_data_source', function(e){
		e.preventDefault();
		new_source();
	});
	$(document).on('click', '#btn_add_source_subtitle', function(e){
		e.preventDefault();
		new_subtitle();
	});
	$(document).ready(function(){
		get_title_types();
		$.getJSON(`/api/title-detail?id=${id}`, function(data){
			if(data.status === true){
				$('#title-name').val(data.data.description);
				if (data.data.hasOwnProperty('source')){
					for(var index=0;index<data.data.source.length;index++){
						var item = data.data.source[index];
						add_source(item.data, item.language, item.quality);
					}
				}
				if(data.data.hasOwnProperty('subtitle')){
					for(var index=0;index<data.data.subtitle.length;index++){
						var item = data.data.subtitle[index];
						add_subtitle(item.data, item.language);
					}
				}
				$(`#sel-type-title option[value="${data.data.id_title_type}"]`).prop('selected', true)
			}
		})
	});
	$(document).on('click', '#btn-title-update', function(e){
		e.preventDefault();
		var title = $('#title-name').val();
		var title_type = $('#sel-type-title').val();
		var title_belong = $('#sel-title-belong').val();
		$.post(`/api/update-detail-title?id=${id}`, {
			'title-name': title,
			'sel-type-title': title_type,
			'sel-title-belong': title_belong
		}, function(data){
			console.log(data);
			if(data.status === true){
				alert('adicionado com sucesso');
			}else{
				alert('erro adicionar');
			}
		});
	});
</script>
{% end %}